*/.ipynb_checkpoints/*
*.err
*.out
__pycache__
*.pyc
*.swp
nohup.*
pyathena_env
pyathena_env/*
docs/_build
docs/_static
data/pop_synth/*
.DS_Store
tags
job*
scripts/
working_notebooks/
pyathena.egg-info