name: deploy-book

# Only run this when the master branch changes
on:
  push:
    branches:
    - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

# This job installs dependencies, build the book, and pushes it to `gh-pages`
jobs:
  deploy-book:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    # Install dependencies
    - uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: pyathena
        environment-file: env.yml
        python-version: 3.11
        auto-activate-base: false

    # check conda environment
    - name: Check conda env
      shell: bash -l {0}
      run: |
        conda info
        conda list

    # Build the book
    - name: Build the book
      shell: bash -l {0}
      run: |
        PYTHONPATH=./ jupyter-book build docs/

    # Push the book's HTML to github-pages
    - name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs/_build/html
